//
//  Release.xcconfig
//  PinkRain
//
//  Created by Duy Linh on 6/30/20.
//  Copyright © 2020 dlsolution. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

APP_NAME = PinkRain
APP_BUNDLE_ID = vn.dlsolution.pinkrain
APP_ICON = AppIcon

BACKEND_URL = http:\/\/api.dlsolution.com/development
